<section id="aboutheader">
  <div class="container-fluid aboutheader-cont">
    <div class="container aboutimage-container">
      <h2 class="about-title">
      </h2>
    </div>
  </div>
</section>
<section id="missionstatement">
  <div class="container-fluid aboutmain-cont justify-content-center">
    <div class="container about-section justify-content-center">
      <div class="row justify-content-center text-center">
        <div class="col-lg-8 col-md-12 col-sm-12">
          <h3 class="display-4 justify-content-center text-center cause-text" style="color: #FFFFFF;">
            <span class="marker-underline">Our Mission
              <div class="underline"></div>
            </span>
          </h3>
          <p class="missionabout-text pt-4">Monarch Digital stands at the intersection of innovation and social change. Collaborating with local and national advocacy groups, political organizations, and movement leaders, we craft digital solutions that resonate with your mission. Our approach is more than just design; it's about empowering your cause with the right tools and strategies to make a real impact.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="Whoweare">
  <div class="container-fluid whoweare-cont">
    <div class="container whowearebg-cont">
      <div class="row">
        <div class="col-lg-7 col-md-12 col-sm-12">
          <div class="row">
            <h2>
              <div class="display-3 text-start">Who we are</div>
            </h2>
          </div>
          <div class="row">
            <div class="col-lg-10 col-md-12 col-sm-12 pb-2">
              <p class="missionabout-text pt-2" style="color: #070D21;">Latino founded and led, we are a small diverse team with professional and proven experience in political campaigns, design, web development, strategy, and advocacy. Our team's unique background extends into various fields, including the criminal and immigration legal system, mental healthcare, and environmental advocacy consultancy. These firsthand experiences not only shape our perspectives but also enable us to engage and collaborate with our partners on a much deeper level.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12 whoweare-photos">
          <div class="row justify-content-between photos">
            <div class="col-3 photo-two">
            </div>
            <div class="col-3 photo-three">
            </div>
            <div class="col-3 photo-four">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="teamdivider">
  <div class="container-fluid team-divider">
  </div>
</section>
<section id="team">
  <div class="container-fluid team-cont">
    <div class="container teamsection-cont">
      <div class="row equal-height justify-content-between">
        <div class="col-lg-6 col-md-12 col-sm-12 teambio-section">
          <h2>
            <div class="display-3 text-start">Isaac Lopez</div>
          </h2>
          <h4>
            <div class="display-6 text-start text-muted" style="font-size: 22px;">Co Founder and Senior Digital Director</div>
          </h4>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 pb-2">
              <p class="team-text pt-2" style="color: #070D21;">Isaac Lopez brings a rich blend of professional and personal experience to our boutique agency. As our senior digital director, Isaac specializes in web development and design, underpinned by his experience in high-profile political campaigns and consulting roles with progressive candidates and advocacy organizations. He knows first hand the issues that affect the Latino and immigrant community. This multifaceted experience enables us to connect and collaborate with our partners on a profound level.<br>
                <br>
                Born in Mexico and later emigrating to the United States, Isaac has lived and worked in diverse environments, ranging from international companies to small organizations. His passion for progressive causes began in his teenage years when he volunteered for Barack Obama's 2008 campaign, driven by the need for immigration reform. As a former DACA recipient, better known as a "Dreamer," Isaac has personal insights into the immigration and criminal legal systems. Isaac's work includes shaping branding and digital strategy for a successful high-profile North Carolina legislative campaign, and continuing consulting roles for progressive advocacy organizations.<br>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 teamphotos">
            <div class="row isaacphoto justify-content-center">
              <div class="col-lg-10 col-md-12 col-sm-12 teamphoto-one align-items-center">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="teamdivider">
    <div class="container-fluid team-divider">
    </div>
  </section>
  <section id="team">
    <div class="container-fluid team-cont">
      <div class="container teamsection-cont">
        <div class="row equal-height justify-content-between">
          <div class="col-lg-6 col-md-12 col-sm-12 teambio-section">
            <h2>
              <div class="display-3 text-start">Kristen Powers</div>
            </h2>
            <h4>
              <div class="display-6 text-start text-muted" style="font-size: 22px;">Co Founder and Operations Manager</div>
            </h4>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 pb-2">
                <p class="team-text pt-2" style="color: #070D21;">Kristen Powers blends expertise in non-profit management, fundraising, and strategic communications to enrich Monarch Digital's approach. Her strong commitment to values and ability to translate them into action makes her a pivotal force within our team. Kristen's unique vision, dedication, and understanding of community needs intertwine seamlessly with our shared values and progressive focus.<br>
                  <br>
                  A Stanford University alumna, Kristen's dynamic and impressive background includes involvement in rural political campaigns, igniting a fervent passion for fostering positive change in the South. Her tenure as an Executive Director, managing non-profits focused on the criminal legal system and the reintegration of formerly incarcerated individuals, has further sharpened her ability to lead with compassion and innovation. This distinct experience aligns perfectly with Monarch's mission of offering progressive consulting services.<br>
                  <br>
                  Through her advocacy and leadership, Kristen has fundamentally shaped the way Monarch connects with diverse organizations and non-profits, infusing our collaborations with a sense of purpose, creativity, and integrity. Her influence ensures that we stand strong in our values and apply them to everything we do, strengthening our impact on the communities we serve.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 teamphotos">
            <div class="row isaacphoto justify-content-center">
              <div class="col-lg-10 col-md-12 col-sm-12 teamphoto-two align-items-center">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
