<section id="servicesheader">
  <div class="container-fluid servicesheader-cont">
    <div class="container servicesimage-container"></div>
  </div>
</section>
<section id="servicesstatement">
  <div class="container-fluid servicesmain-cont justify-content-center">
    <div class="container services-section justify-content-center">
      <div class="row justify-content-center text-center">
        <div class="col-lg-9 col-md-12 col-sm-12">
          <h3 class="display-4 justify-content-center text-center cause-text" style="color: #FFFFFF;">
            <span class="marker-underline">Our Services
              <div class="underline"></div>
            </span>
          </h3>
          <p class="missionabout-text pt-4">We have a passion for providing high quality and mission focused solutions that are crafted on the foundation of understanding your needs, obstacles and pain points. This strategy is why partners seek out Monarch Digital as a solid solution for branding, graphic design and digital development, including mail and website.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="services">
  <div class="container-fluid services-cont">
    <div class="container-lg services-section">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <h1>
            <div class="justify-content-center display-5" style="color: #FFFFFF;"">
              What we're <span class="good">good</span> at
            </div>
          </h1>
        </div>
      </div>
      <div class="row justify-content-center pt-2 pb-4">
        <div class="col-10 pt-3">
          <div class="card glass-effect" style="">
            <div class="card-body">
              <h5 class="card-title display-6" style="color: #FFFFFF;">Digital Strategy</h5>
              <h6 class="card-subtitle display-6 mb-2" style="color: #CC5FFF; font-size: 20px;">Research Focused</h6>
              <p class="card-text" style="color: #FFFFFF; font-size: 15px;">Our strategic approach is centered on understanding and engaging your target audience with precision. By crafting compelling narratives that resonate, we foster authentic connections that drive your mission forward. Our tailored digital strategies ensure that your message reaches the right people at the right time. </p>
            </div>
          </div>
        </div>
        <div class="col-10 pt-5">
          <div class="card glass-effect" style="">
            <div class="card-body">
              <h5 class="card-title display-6" style="color: #FFFFFF;">Visual Identity</h5>
              <h6 class="card-subtitle display-6 mb-2" style="color: #CC5FFF; font-size: 20px;">Branding & Design</h6>
              <p class="card-text" style="color: #FFFFFF; font-size: 15px;">We believe in the power of visual identity to shape perceptions and convey core values. Through high-quality graphics, expertly crafted brand guides, and logo creation, we transform your vision into a cohesive and visually appealing experience. Whether in digital or print design, our creative expertise delivers.</p>
            </div>
          </div>
        </div>
        <div class="col-10 pt-5">
          <div class="card glass-effect" style="">
            <div class="card-body">
              <h5 class="card-title display-6" style="color: #FFFFFF;">Web Development</h5>
              <h6 class="card-subtitle display-6 mb-2" style="color: #CC5FFF; font-size: 20px;">Aesthetic & Responsive</h6>
              <p class="card-text" style="color: #FFFFFF; font-size: 15px;">We craft custom websites with an emphasis on visually appealing and functional UI/UX and complex design. Our team excels in creating efficient web apps, ensuring a seamless and responsive online presence. With cutting-edge techniques, we make your digital footprint robust and resonant.</p>
            </div>
          </div>
        </div>
        <div class="col-10 pt-5 pb-5">
          <div class="card glass-effect" style="">
            <div class="card-body">
              <h5 class="card-title display-6" style="color: #FFFFFF;">Non-Profit Director Services</h5>
              <h6 class="card-subtitle display-6 mb-2" style="color: #CC5FFF; font-size: 20px;">Fractional Employment</h6>
              <p class="card-text" style="color: #FFFFFF; font-size: 15px;">We offer high-quality support to non-profits during times of transition or growth. Non-profit staff nationwide are overwhelmed and on the verge of burnout. Our fractional director services can provide part-time and/or temporary support to your team. We specialize in remote, small-team executive level support, including operational and development activities.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-between pt-2" id="testimonial-row">
        <div class="services col-12-lg text-center">
          <h3 class="testimonial-text" style="color: #FFFFFF; font-size: 25px; font-weight: 300;">
            "Isaac Lopez is an incredibly talented designer and a joy to work with. Our firm highly recommends his agency to organizations looking to elevate their project designs."<br>
            <br>
            Jeronimo Saldana | On Point Studios
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>
