.footer-cont {
  background: rgb(7, 13, 33);
  background: linear-gradient(0deg, rgba(7, 13, 33, 1) 0%, rgba(35, 13, 58, 1) 100%);
  min-height: 25vh;
}

.footer-section {
  padding-top: 5vh;
}

.icon-box i {
  font-size: 35px;
  color: #FFFFFF;
  /* Adjust the size as needed */
}

.icon-container {
  display: flex;
  justify-content: start;
  /* Aligns icons to the left */
  align-items: center;
  /* Vertically centers the icons */
}

.icon-box {
  margin-right: 15px;
  /* Adds space between the icons */
}

.footer-text {
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: 20px;
}
