.black-cont {
  background: rgb(7, 13, 33);
  background: linear-gradient(180deg, rgba(7, 13, 33, 1) 0%, rgba(35, 13, 58, 1) 100%);
}

.homesec-one {
  min-height: 75vh;
}

.intro-header {
  padding-top: 7vh;
}

.black-cont {
  position: relative;
  /* to contain the absolutely positioned child */
}

.mission-cont {
  background-color: #F5F5F5;
}

.services-cont {
  background: rgb(7, 13, 33);
  background: linear-gradient(0deg, rgba(7, 13, 33, 1) 0%, rgba(35, 13, 58, 1) 100%);
  min-height: 75vh;
}

.services-section {
  padding-top: 5vh;
}

.movement-makers-cont {
  background-color: #F5F5F5;
  min-height: 50vh;
}

.movementmakers-section {
  padding-top: 5vh;
}

.trust-monarch {
  font-size: 40px;
}

.card.glass-effect {
  background: rgba(255, 255, 255, 0.10);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(204, 95, 255, 0.3);
}

.card-link-hover:hover {
  color: #03ffff !important;
  font-family: 'Roboto', sans-serif;
}

.card-link-hover {
  text-decoration: none;
}

.testimonial-text {
  color: #f1f1f1;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
}

.cause-text {
  color: #070D21;
  line-height: 1 !important;
}

.marker-underline {
  position: relative;
  display: inline-block;
}

.underline {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10px;
  transform: skew(-12deg);
  background: rgba(190, 87, 238, 0.55);
}

.mission-section {
  min-height: 50vh;
  padding-top: 10vh;
}

.image-container img {
  position: absolute;
  max-height: 70vh;
  right: 45px;
  z-index: 1;
}

.image-container-mobile img {
  position: absolute;
  max-height: 55vh;
  bottom: -16px;
  right: -40%;
  z-index: 1;
}

@media (max-width: 768px) {
  .image-container-mobile {
    display: block;
  }

  .image-container {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 991.98px) {
  .image-container img {
    max-height: 65vh;
    right: -18VH;
    bottom: 0.5vh;
    /* Adjust this value to position the image partially off-screen for tablets */
  }
}

.hero-button {
  background: linear-gradient(90deg, rgba(155, 95, 255, 1) 0%, rgba(3, 255, 255, 1) 100%);
  border: none;
}

.banner {
  background-color: #230d3a;
  min-height: 7vh;

}

.banner {
  border-top: 1px solid #E2A5FF;
  /* Replace with your desired color */
}

.logo-container-home {
  /* Center the logos */
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  /* Set specific dimensions for the image */
  height: 100px;
  width: auto;
  /* Maintain aspect ratio without distortion */
  object-fit: contain;
  /* Center the logo if needed */
  display: block;
  margin: 0 auto;
}

.wrap-row {
  flex-wrap: wrap;
}

@media (max-width: 768px) {

  .logo-container-home,
  .logo-container {
    /* Stack the logos vertically on smaller screens */
    flex-direction: column;
    /* Add some space between the logos */
    margin-bottom: 20px;
  }

  .logo {
    /* Set a smaller size for the logos on mobile screens */
    height: 70px;
  }
}

@media (max-width: 768px) {
  .banner-text-mobile {
    font-size: 15px !important;
    /* Adjust this value to the desired font size on mobile */
  }
}

@media (max-width: 768px) {

  /* Adjust the breakpoint as needed */
  .responsive-break {
    display: none;
    /* Hides the <br> tag on smaller screens */
  }
}

@media (min-width: 768px) {
  .intro-header {
    padding-top: 15vh;
    /* Adjust as needed for desktop */
  }
}

@media (max-width: 768px) {
  #services #testimonial-row {
    padding-top: 0vh !important;
    padding-bottom: 4vh !important;
  }
}

@media (max-width: 991.98px) {

  #mission .col-lg-5 h1,
  #mission .col-lg-7 h1,
  #mission .col-lg-4 h1 {
    text-align: center;
  }
}

@media (max-width: 991.98px) {
  .mission-section {
    padding-top: 5vh;
  }
}

@media (max-width: 991.98px) {
  #services .col-lg-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  #services .card {
    margin: 0 auto;
    margin-bottom: 4vh;
    /* Center the card */
  }

  #services .card-title,
  #services .card-subtitle,
  #services .card-text {
    text-align: center;
    /* Center the text inside the card */
  }

  #services .services {
    text-align: center;
    /* Center the testimonial text */
  }
}
