.navbar.bg-dark {
  background-color: #070D21 !important;
}

.link-hover:hover {
  color: #CC5FFF !important;
}

.normal-link {
  color: #ffffff !important;
}

.contact-hover:hover {
  color: #03ffff !important;
}
